{
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": ["airbnb-typescript"],
  "rules": {
    "@typescript-eslint/dot-notation": "off",
    "@typescript-eslint/naming-convention": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "class-methods-use-this": "off",
    "default-case": "error",
    "default-case-last": "error",
    "eol-last": 2,
    "guard-for-in": "error",
    "jsx-a11y/click-events-have-key-events": "off",
    "import/prefer-default-export": "off",
    "lines-between-class-members": ["error", "always"],
    "max-len": [1, { "code":100 }],
    "no-await-in-loop": "off",
    "no-cond-assign": ["error", "always"],
    "no-console": ["warn", { "allow": ["error"] }],
    "no-duplicate-case": "error",
    "no-duplicate-imports": ["error", { "includeExports": false }],
    "no-else-return": "error",
    "no-nested-ternary": "error",
    "no-plusplus": "off",
    "no-promise-executor-return": "error",
    "no-restricted-syntax": "off",
    "no-shadow": "off",
    "no-unneeded-ternary": ["error", { "defaultAssignment": true }],
    "one-var-declaration-per-line": "error",
    "radix": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-props-no-spreading": 0,
    "react/jsx-one-expression-per-line": [1, { "allow": "single-child" }],
    "react/no-array-index-key": "warn",
    "react/prop-types": "off",
    "react/sort-comp": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "sort-imports": ["error", {
      "allowSeparatedGroups": true,
      "ignoreCase": true,
      "ignoreDeclarationSort": true,
      "ignoreMemberSort": false
    }],
    "yoda": ["error", "never", { "exceptRange": true }]
  }
}
